@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --background: #1A1924;
  --color: #E1E1E6;

  --width-chat-window: 88rem;

  --color-status-online: #00B37E;

  --background-message-contact: #633BBC;
  --background-message-user: #07847E;

  --background-input-send: #282843;
  --background-secondary: #282843;
  --background-no-photo: #D3D3D3;

  font-size: 62.5% /* 1rem = 10px */;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}