@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --background: #1A1924;

  --background-input-send: #282843;
  --color-text-input: #E1E1E6;

  font-size: 62.5%; /* 1rem = 10px */
}

body {
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}